menu "Qualcomm Technologies Inc Charger and Fuel Gauge support"

config CPS_WLS_CHARGER
        tristate "CPS wireless charger driver"
        depends on POWER_SUPPLY
        depends on I2C
        help
          Say Y to enable support for CPS wireless charger.

          This driver can also be built as a module.  If so, the module
          will be called cps4019_wls_charger.

endmenu
